.about a {
    position: absolute;
    top: 23px;
    left: 25px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.about a:hover {
    text-decoration: underline;
}
.store a {
    position: absolute;
    top: 23px;
    left: 73.5px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.store a:hover {
    text-decoration: underline;
}
.gmail a {
    position: absolute;
    top: 23px;
    right: 177px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.gmail a:hover {
    text-decoration: underline;
}
.image a {
    position: absolute;
    top: 23px;
    right: 120px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.image a:hover {
    text-decoration: underline;
}
.squares {
    width: 5px;
    position: absolute;
    top: 20px;
    right: 97px;
}
.squaresImage {
    width: 23px;
}
.profileIcon {
    width: 1px;
    position: absolute;
    top: 15px;
    right: 60px;
}
.profileIconImage {
    width: 32px;
    border-radius: 50%;
}
.googleImage[src] {
    width: 272px;
}
.googleImage {
    display: block;
    margin: 0 auto;
    padding: 30px;
    padding-top: 190px;
}
.googleSearch {
    text-align: center;
}
#search {
    flex: 1;
    display: block;
    margin: 0 auto;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    min-width: 563px;
    min-height: 38px;
    border: 0.5px solid #c0c0c0;
    border-radius: 40px;
    font-size: 22px;
}
#search:hover {
    box-shadow: 0 0 5px #C0C0C0;
}
.googleSearchImFeelingLucky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 25px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 37px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.googleSearchImFeelingLucky:hover {
    border: 1px solid #C0C0C0;
    color: #000000;
}
#footerBar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}
.advertising {
    margin-left: 29px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.advertising:hover {
    text-decoration: underline;
}
.business {
    position: fixed;
    left: 126px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.business:hover {
    text-decoration: underline;
}
.howSearchWorks {
    position: fixed;
    left: 210px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.howSearchWorks:hover {
    text-decoration: underline;
}
.privacy {
    position: fixed;
    right: 173px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.privacy:hover {
    text-decoration: underline;
}
.terms {
    position: fixed;
    right: 108px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.terms:hover {
    text-decoration: underline;
}
.settings {
    position: fixed;
    right: 29px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.settings:hover {
    text-decoration: underline;
}