#gb {
    font-size: 13px;
}
#hptl {
    position: absolute;
    margin: 7px 0 0 10px;
}
#hptl a {
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-size: 13px;

}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
}
img[src] {
    width: 272px;
}
img {
    display: block;
    margin: 0 auto;
    padding: 30px;
    padding-top: 116px;
}
.gS {
    text-align: center;
}
#search {
    flex: 1;
    display: block;
    margin: 0 auto;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    min-width: 563px;
    min-height: 38px;
    border: 0.5px solid #c0c0c0;
    border-radius: 40px;
}
#search:hover {
    box-shadow: 0 0 5px #C0C0C0;
}
.GsIfL {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 25px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 37px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.GsIfL:hover {
    border: 1px solid #C0C0C0;
}