.aB a {
    position: absolute;
    top: 23px;
    left: 25px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.aB a:hover {
    text-decoration: underline;
}
.sT a {
    position: absolute;
    top: 23px;
    left: 73.5px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.sT a:hover {
    text-decoration: underline;
}
.gM a {
    position: absolute;
    top: 23px;
    right: 177px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.gM a:hover {
    text-decoration: underline;
}
.iM a {
    position: absolute;
    top: 23px;
    right: 120px;
    color: #000;
    opacity: 0.75;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.iM a:hover {
    text-decoration: underline;
}
.Sq4 {
    width: 5px;
    position: absolute;
    top: 20px;
    right: 97px;
}
.Sq4iMg {
    width: 23px;
}
.pI {
    width: 1px;
    position: absolute;
    top: 15px;
    right: 60px;
}
.pIiMg {
    width: 32px;
    border-radius: 50%;
}
.GgLeImG[src] {
    width: 272px;
}
.GgLeImG {
    display: block;
    margin: 0 auto;
    padding: 30px;
    padding-top: 190px;
}
.gS {
    text-align: center;
}
#sRcHiCn {
    opacity: 0.6;
    padding-top: 8px;
    padding-left: 10px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
#search {
    flex: 1;
    display: block;
    margin: 0 auto;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    min-width: 563px;
    min-height: 38px;
    border: 0.5px solid #c0c0c0;
    border-radius: 40px;
    font-size: 22px;
}
#search:hover {
    box-shadow: 0 0 5px #C0C0C0;
}
.GsIfL {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 25px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 37px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.GsIfL:hover {
    border: 1px solid #C0C0C0;
    color: #000000;
}
#fbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}
.AdV {
    margin-left: 29px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.AdV:hover {
    text-decoration: underline;
}
.bUs {
    position: fixed;
    left: 126px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.bUs:hover {
    text-decoration: underline;
}
.HsW {
    position: fixed;
    left: 210px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.HsW:hover {
    text-decoration: underline;
}
.pRvTe {
    position: fixed;
    right: 173px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.pRvTe:hover {
    text-decoration: underline;
}
.tRmS {
    position: fixed;
    right: 108px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.tRmS:hover {
    text-decoration: underline;
}
.sEt {
    position: fixed;
    right: 29px;
    color: #000000;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.sEt:hover {
    text-decoration: underline;
}